.MaterialInput {
  align-items: flex-end;
  border: 1px solid $input-border;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-start;
  padding: 8px 25px;
  position: relative;
  &-label {
    left: 25px;
    margin-bottom: 0;
    pointer-events: none;
    position: absolute;
    transition: top 0.25s ease;
    top: 22px;
    z-index: 10;
  }
  &-input {
    border: none;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    outline: none;
    width: 100%;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      opacity: 0;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      opacity: 0;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      opacity: 0;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      opacity: 0;
    }
    &::placeholder {
      opacity: 0;
    }
    &:not(:placeholder-shown) + label,
    &:focus + label,
    &:active + label {
      top: 12px;
    }
    -webkit-margin-before: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-end: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
  }
  &-invalid {
    color: red;
    padding-left: 8px;
  }
}

.disabled {
  &.MaterialInput {
    background-color: $light-gray;
    color: $text-gray;
    input,
    textarea {
      background-color: $light-gray;
      color: $text-gray;
      pointer-events: none;
    }
  }
}
