@import "~bootstrap/scss/bootstrap.scss";

/* set the overriding variables */
$grid-breakpoints: (
    // Extra small screen / phone
        xs: 0,
    // Small screen / phone
        sm: 576px,
    // Medium screen / tablet
        md: 768px,
    // Large screen / desktop
        lg: 992px,
    // Extra large screen / wide desktop
        xl: 1200px,
    // Custom Extra large screen / wide desktop
        xxl: 1660px
);

//Fonts
@import "./base/fonts";

//Variables
@import "./base/variables";

//Reset
@import "./base/reset";

//Mixins
@import "./base/mixins";

//Placeholders
@import "./placeholders/title";

//Common classes
@import "./base/common";

//Components
@import "./components/components.scss";
