.Newsletter{
    background-color: $white;
    padding-bottom: 235px;
    padding-top: 235px;
    &-container {
        margin: 0 auto;
        max-width: 980px;        
        width: 100%;        
    }
    &-title {
        @extend %section_title;
        color: $primary-color;
        margin-bottom: 70px;
    }
    &-description {
        display: block;
        font-family: $text-font;
        font-weight: 500;
        margin-bottom: 100px;
        text-align: center;
        font-size: 16px;
    }
    &-terms{
        margin-top: 32px;
        label{
            display: inline;
            font-size: 12px;
        }
        a{
            color: $secondary-color;
            text-decoration: underline;
        }
    }
    @include media-breakpoint-down(md){
        padding: 100px 15px;
        &-title{
            font-size: 26px;
        }
        &-description{
            margin-bottom: 30px;
        }
    }
}

.NewsForm{    
    margin-left: auto;
    margin-right: auto;
    max-width: 530px;    
    &-submit{
        border: none;
        border-left: 1px solid $primary-color;
        background-color: $primary-color;        
        height: 60px;
        margin-left: -1px;
        position: relative;
        text-align: center;
        width: 76px;
    }
    &-arrowRight{
        cursor: pointer;
        left: 25px;
        position: absolute;
        top: 20px;
        &::before{
            background-image: url("../../../images/icons/arrow-right.svg");
            background-position: center;
            background-size: cover;
            content: '';
            display: block;
            height: 22px;
            width: 23px;
        }
    }
    &-input{
        flex-grow: 1;
    }
    &-inputWrap{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}