@function rem($px) {
    @return $px / $base-font-size * 1rem;
}

@mixin font-size-rem($px) {
    font-size: rem($px);
}

@mixin flex-container ($direction: row, $main-axis: center, $sec-axis: center) {
    align-items: $sec-axis;
    display: flex;    
    justify-content: $main-axis;
    flex-direction: $direction;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
}

@mixin media-breakpoint-xxl-only () {
    @media screen and (min-width: 1660px) {
        @content;
    }
}
