//Colors
$background: #eeeeee;
$black: #000000;
$input-border: #d0d0d0;
$light-gray: #eeeeee;
$primary-color: #a191b2;
$secondary-color: #313131;
$text-gray: #434343;

//Fonts
$title-font: "Cormorant Infant", serif;
$text-font: "Raleway", sans-serif;
$base-font-size: 14px;
