.ProgressBar{
    margin-bottom: 16px;
    &-count{
        color: $primary-color;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 16px;
        text-align: center;
    }
    &-outside{
        background-color: $light-gray;
        height: 4px;
        position: relative;
        width: 100%;        
    }
    &-inside{        
        background-color: $primary-color;
        display: inline-block;
        height: 4px;
        left: 0;
        position: absolute;
        top: 0;
    }
}