.HomeServices {
    padding-bottom: 157px;
    padding-top: 157px;
    &-titleContainer {
        margin: 0 auto;
        max-width: 750px;
        padding: 0 15px;
        width: 100%;
    }
    &-container{
        margin: 0 auto;
        max-width: 1520px;
        padding: 0 15px;
        width: 100%;
    }
    &-description {
        display: block;
        font-family: $text-font;
        font-size: 16px;
        margin-bottom: 150px;
        text-align: center;
    }
    &-title {
        @extend %section_title;
        color: $primary-color;
        margin-bottom: 70px;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 100px;
        padding-top: 100px;
        &-title{
            font-size: 26px;
            text-align: center;
        }
        &-description {
            font-size: 14px;
            margin-bottom: 100px;
        }
    }
}

.HomeServicesAdvantage {
    &-item {
        display: flex;
        flex-direction: column;
        h5 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 36px;
            text-align: center;
        }
        img {
            margin-bottom: 36px;
        }
        span {
            font-size: 16px;
            padding-left: 18px;
            padding-right: 18px;
            text-align: center;
        }
        &.beauty{
            img{
                margin-bottom: 50px;
            }
        }
        &.professional{
            img{
                margin-bottom: 26px;
            }
        }
        @include media-breakpoint-down(lg){
            span{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        @include media-breakpoint-down(md){
            margin-bottom: 60px;
            h5{
                font-size: 22px;
            }
            span{
                font-size: 14px;
            }
        }
    }
}