.BannerSection {
    background-size: cover;
    background-position: center center;
    color: $white;
    height: 100vh;
    &-title {
        @extend %section_title;
        @include font-size-rem(40px);
        margin-bottom: 60px;
    }
    &-block{
        width: 100%;
    }
    &-content{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding-bottom: 80px;
        padding-top: 80px;        
    }
    &-text{
        @include font-size-rem(20px);
        font-weight: 500; //Medium
        text-align: center;
        &.large{
            font-size: 26px;
            font-weight: 700;
        }
    }
    &-arrow{
        cursor: pointer;
        &::before{
            background-image: url("../../../images/icons/arrow-down.svg");
            background-position: center;
            background-size: cover;
            content: '';
            display: block;
            height: 30px;
            width: 15px;
        }
    }
    &-button{
        background-color: $secondary-color;
        border: none;
        border-radius: 50px;
        color: $white;
        height: 65px;
        outline: none;
        text-align: center;
        width: 100%;

        @include font-size-rem(18px);
        &.white{
            background-color: $white;
            color: $secondary-color;
        }
    }
    &-mobileLogo{
        display: none;
    }

    @include media-breakpoint-only(md){
        &-content{
            padding-bottom: 20px;
            padding-top: 20px;  
        }
    }
    
    @include media-breakpoint-down(sm) {
        background-position: 80% center;
        height: calc(100vh - 70px);
        &-logo{
            display: none;
        }
        &-title{
            font-size: 26px;
        }
        &-mobileLogo{
            background-color: $white;
            @include flex-container();
            height: 70px;

            img{
                margin: 0 auto;
            }
        }
    }
}

.WrapperBanner{
    position: relative;
}