.Professionals{
    background-color: $secondary-color;
    padding-bottom: 157px;
    padding-top: 157px;
    &-container {
        margin: 0 auto;
        max-width: 1720px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    &-title {
        @extend %section_title;
        color: $primary-color;
        margin-bottom: 70px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
    &-item {
        color: $white;
        display: flex;
        flex-direction: column;
        h5 {
            height: 50px;
            margin-bottom: 36px;
            padding: 0 36px;
            text-align: center;
            @include font-size-rem(24px);
        }
        img {
            height: 100px;
            margin-bottom: 36px;
        }
        span {
            line-height: 2.2;
            padding-left: 36px;
            padding-right: 36px;
            text-align: center;
            font-size: 16px;
        }
        &.mirrors{
            img{
                height: 86px;
                margin-bottom: 50px;
            }
        }
    }
    @include media-breakpoint-down(md) {
        padding-bottom: 100px;
        padding-top: 100px;
        &-title{
            font-size: 26px;
            text-align: center;
        }
        &-description {
            font-size: 14px;
            margin-bottom: 100px;
        }
        &-item{
            margin-bottom: 60px;
            h5{
                font-size: 22px;
            }
            span{
                font-size: 14px;
            }
        }
    }
}

.ProfessionalsForm{
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    max-width: 1550px;
    padding: 85px;
    &-wrapper{
        margin-left: auto;
        margin-right: auto;
        max-width: 980px;
    }
    &-title {
        @extend %section_title;
        color: $primary-color;
        margin-bottom: 70px;
        @include font-size-rem(24px);
    }
    &-description {
        display: block;
        font-family: $text-font;
        font-size: 16px;
        margin-bottom: 50px;
        text-align: center;
    }
    &-input{
        margin-bottom: 10px;
    }
}
