.HomeBenefits{
    background-color: $primary-color;
    padding-bottom: 157px;
    padding-top: 157px;
    &-container {
        margin: 0 auto;
        max-width: 1720px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    &-title {
        @extend %section_title;
        color: $white;
        margin-bottom: 70px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        h5 {
            margin-bottom: 36px;
            text-align: center;
            @include font-size-rem(24px);
        }
        img {
            height: 95px;
            margin-bottom: 36px;
        }
        span {
            line-height: 2.2;
            padding-left: 11px;
            padding-right: 11px;
            text-align: center;
            font-size: 16px;
        }
        &.visibility{
            img{
                height: 45px;
                margin-bottom: 86px;
            }
        }
    }
    @include media-breakpoint-down(md) {
        padding-bottom: 100px;
        padding-top: 100px;
        &-title{
            font-size: 26px;
            text-align: center;
        }
        &-description {
            font-size: 14px;
            margin-bottom: 100px;
        }
        &-item{
            margin-bottom: 60px;
            h5{
                color: $white;
                font-size: 22px;
            }
            span{
                color: $white;
                font-size: 14px;
            }
        }
    }
}

.BenefitsForm{
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    max-width: 1550px;
    padding: 90px 0;
    &-wrapper{
        margin-left: auto;
        margin-right: auto;
        max-width: 980px;
    }
    &-title {
        @extend %section_title;
        color: $primary-color;
        margin-bottom: 70px;
        @include font-size-rem(24px);
    }
    &-subtitle{
        color: $primary-color;
        display: block;
        font-weight: 500;
        margin-bottom: 25px;
        margin-top: 25px;
        text-align: center;
        @include font-size-rem(20px);        
    }
    &-description {
        display: block;
        font-family: $text-font;
        font-size: 16px;
        margin-bottom: 50px;
        text-align: center;
    }
    &-input{
        margin-bottom: 10px;
    }
    &-numberInput{
        border: 1px solid $input-border;
        display: block;
        height: 60px;
    }
    .rc-input-number-handler{
        height: 50%;
        line-height: 25px;
    }
    &-numberInputArrow{
        &::before{            
            content: '';
            display: block;
            height: 4.5px;
            width: 15px;
        }
    }
    &-checkRow{
        @include flex-container();
        flex-wrap: wrap;
        padding-top: 25px;
    }
    &-checkbox{
        flex-basis: 25%;
        margin-bottom: 25px;
        text-align: center;
        & label{
            font-size: 16px;
        }
    }
    &-textArea{
        border: 1px solid $input-border;
        display: block;
        width: 100%;
    }
    @include media-breakpoint-down(md){
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        &-checkRow{
            flex-direction: column;
        }
        &-checkbox{
            margin-bottom: 10px;
        }
    }
}

.StepperForm{
    position: relative;
    padding-bottom: 65px;
    &-buttons{
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;        
    }
    &-button{
        border: none;
        border-radius: 50%;
        height: 65px;
        margin: 0 5px;
        outline: none;
        position: relative;        
        width: 65px;
        &:active, &:focus{
            border: none;
            outline: none;
        }
        &.left{
            background-color: $white;
            border: 1px solid $primary-color;
        }
        &.right{
            background-color: $primary-color;
            border: none;
        }
    }
    &-content{
        min-height: 320px;
    }
    &-arrow{
        cursor: pointer;
        left: 22px;
        position: absolute;
        top: 22px;
        &::before{
            background-position: center;
            background-size: cover;
            content: '';
            display: block;
            height: 18px;
            width: 20px;
        }
        &.left::before{
            background-image: url("../../../images/icons/arrow-left-purple.svg");
        }
        &.right::before{
            background-image: url("../../../images/icons/arrow-right.svg");       
        }
    }
    @include media-breakpoint-down(md){
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        &-buttons{            
            padding-top: 30px;
        }
    }
}

.Greeting{
    &-title{
        color: $primary-color;
        display: block;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 50px;
        text-align: center;
    }
    &-text{
        color: $primary-color;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
}