.Footer{
    align-items: center;
    background-color: $secondary-color;
    display: flex;
    flex-direction: row;
    height: 175px;
    justify-content: center;
    width: 100%;
    &-lower{
        background-color: $black;
        color: $white;
        font-weight: 500;
        padding-bottom: 16px;
        padding-top: 16px;
    }
    &-wrapper{
        margin: 0 auto;
        max-width: 1600px;
        @include flex-container(row, space-between, center);
    }
    @include media-breakpoint-down(md){
        &-wrapper{
            flex-direction: column;
        }
        &-copyright{
            margin-bottom: 16px;
        }
    }
}